%h1 Listing students

%table
  %tr
    %th Name
    %th
    %th
    %th

  - @students.each do |student|
    %tr
      %td= student.name
      %td= link_to 'Show', student
      %td= link_to 'Edit', edit_student_path(student)
      %td= link_to 'Destroy', student, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Student', new_student_path
