%h1 Listing courses

%table.table.table-striped
  %tr
    %th
    %th= t("activerecord.attributes.course.content")
    %th
    %th
    %th

  - @courses.each do |course|
    %tr
      %td= course.name
      %td= course.content
      %td= link_to 'Show', course
      %td= link_to 'Edit', edit_course_path(course)
      %td= link_to 'Destroy', course, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Course', new_course_path
